set gfxpayload=text
set timeout_style=hidden
set timeout=0

clear
echo "KevosOS Init"
echo "Loading system bin"
echo "Bootloader started"
echo "System started"

echo "  _  __                    ___  ____  "
echo " | |/ /_____   _____  ___ / _ \/ ___| "
echo " | ' // _ \ \ / / _ \/ __| | | \___ \ "
echo " | . \  __/\ V / (_) \__ \ |_| |___) |"
echo " |_|\_\___| \_/ \___/|___/\___/|____/ "
echo "                                      "                                                                                                                                                                                                                                     
                                                                                                                                     
echo "+---------------------------X+"
echo "|  Press ESC for system menu |"
echo "|        System Loading      |"
echo "+----------------------------+"


if sleep --interruptible 5; then
    set timeout=1
else
    set timeout_style=menu
    set timeout=15
fi


menuentry "KevosOS normal mode" {
    multiboot /boot/myos.bin
}

menuentry "KevosOS No ACPI" {
    multiboot /boot/myos.bin no_acpi=1
}

menuentry "KevosOS Info" {
    multiboot /boot/myos.bin info_boot=1
}
