set gfxpayload=text
set timeout_style=hidden
set timeout=0

clear
echo "KevosOS Init"
echo "Loading system bin"
echo "Bootloader started"
echo "System started"                                                                                                                         
sleep 2

echo "KKKKKKKKK    KKKKKKK                                                                                OOOOOOOOO        SSSSSSSSSSSSSSS "
echo "K:::::::K    K:::::K                                                                              OO:::::::::OO    SS:::::::::::::::S"
echo "K:::::::K    K:::::K                                                                            OO:::::::::::::OO S:::::SSSSSS::::::S"
echo "K:::::::K   K::::::K                                                                           O:::::::OOO:::::::OS:::::S     SSSSSSS"
echo "KK::::::K  K:::::KKK    eeeeeeeeeeee  vvvvvvv           vvvvvvv ooooooooooo       ssssssssss   O::::::O   O::::::OS:::::S            "
echo "  K:::::K K:::::K     ee::::::::::::ee v:::::v         v:::::voo:::::::::::oo   ss::::::::::s  O:::::O     O:::::OS:::::S            "
echo "  K::::::K:::::K     e::::::eeeee:::::eev:::::v       v:::::vo:::::::::::::::oss:::::::::::::s O:::::O     O:::::O S::::SSSS         "
echo "  K:::::::::::K     e::::::e     e:::::e v:::::v     v:::::v o:::::ooooo:::::os::::::ssss:::::sO:::::O     O:::::O  SS::::::SSSSS    "
echo "  K:::::::::::K     e:::::::eeeee::::::e  v:::::v   v:::::v  o::::o     o::::o s:::::s  ssssss O:::::O     O:::::O    SSS::::::::SS  "
echo "  K::::::K:::::K    e:::::::::::::::::e    v:::::v v:::::v   o::::o     o::::o   s::::::s      O:::::O     O:::::O       SSSSSS::::S "
echo "  K:::::K K:::::K   e::::::eeeeeeeeeee      v:::::v:::::v    o::::o     o::::o      s::::::s   O:::::O     O:::::O            S:::::S"
echo "KK::::::K  K:::::KKKe:::::::e                v:::::::::v     o::::o     o::::ossssss   s:::::s O::::::O   O::::::O            S:::::S"
echo "K:::::::K   K::::::Ke::::::::e                v:::::::v      o:::::ooooo:::::os:::::ssss::::::sO:::::::OOO:::::::OSSSSSSS     S:::::S"
echo "K:::::::K    K:::::K e::::::::eeeeeeee         v:::::v       o:::::::::::::::os::::::::::::::s  OO:::::::::::::OO S::::::SSSSSS:::::S"
echo "K:::::::K    K:::::K  ee:::::::::::::e          v:::v         oo:::::::::::oo  s:::::::::::ss     OO:::::::::OO   S:::::::::::::::SS "
echo "KKKKKKKKK    KKKKKKK    eeeeeeeeeeeeee           vvv            ooooooooooo     sssssssssss         OOOOOOOOO      SSSSSSSSSSSSSSS   "
sleep 1                                                                                                                                                                                                                                      
                                                                                                                                     
+---------------------------X+
|  Press ESC for system menu |
|        System Loading      |
+----------------------------+


if sleep --interruptible 5; then
    set timeout=1
else
    set timeout_style=menu
    set timeout=15
fi


menuentry "KevosOS normal mode" {
    multiboot /boot/myos.bin
}

menuentry "KevosOS No ACPI" {
    multiboot /boot/myos.bin no_acpi=1
}

menuentry "KevosOS Info" {
    multiboot /boot/myos.bin info_boot=1
}
